* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #8e44ad, #3498db);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
}

.login-box {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-box i {
  position: absolute;
  top: 65%;
  left: 30px; 
  transform: translateY(-50%);
  font-size: 1.2rem; 
}

.input-box input {
  width: 90%;
  padding: 10px 10px 10px 40px;
  border-radius: 2px;
  font-size: 1rem;
  background: none;
  outline: none;
  border: none;
  box-shadow: 0 2px 0 0 #989898;
  transition: border 0.3s ease;
}

.input-box input:focus {
  box-shadow: 0 2px 0 0 #555555;
  
}





label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-left: 17px;
  margin-bottom: 5px;
  color: #000000;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.forgot-link {
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}

.forgot-link a {
  color: #3498db;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: linear-gradient(135deg, #8e44ad, #3498db);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  opacity: 0.9;
  letter-spacing: 2px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(135deg, #9d3668, #0b5c92);

}

.or-text {
  margin: 20px 0;
  color: #666;
  font-size: 14px;
}

.social-icons {
  padding-top: 25px;
  border-radius: 50%;
  
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.signup-link {
  margin-top: 20px;
}

.signup-link p {
  font-size: 13px;
  font-family: sans-serif;
  padding-bottom: 10px;

}

.signup-link a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
  color: rgb(63, 122, 137);
}